# backend/requirements.txt
fastapi
uvicorn[standard]
pydantic
pydantic-settings
# sqlalchemy, psycopg2-binary, sqlmodel ya no son necesarios con este método
supabase
apscheduler
sendgrid
python-dateutil